#navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--navBarHeight);
  background-color: white;
  border-left: none;
  border-right: none;

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 5;
}

#iconContainer {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 20px;
}

.navBarIcon {
  height: var(--iconHeight);
  width: var(--iconHeight);
  cursor: pointer;
}

#profilePic {
  border-radius: 2rem;
}

.dropDown {
  position: relative;
}

.upArrow {
  width: 0;
  height: 0;
  border-left: var(--arrowSize) solid transparent;
  border-right: var(--arrowSize) solid transparent;
  border-bottom: var(--arrowSize) solid black;
  display: none;

  position: absolute;
  left: calc((var(--iconHeight) - 2 * var(--arrowSize)) / 2);
  top: calc(var(--iconHeight) + var(--arrowSize));
}

#likePopUp {
  position: absolute;
  top: calc((var(--navBarHeight) + var(--iconHeight)) / 2 + 2px);
  right: 0;

  display: none;
  width: 400px;
  height: 300px;
  z-index: 5;
  background-color: white;
  box-shadow: 0 0 3px grey;
  border-radius: 2px;
}

#earlierText {
  font-weight: bold;
  padding-left: 10px;
}

.darkBg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
  opacity: 0.5;
}

#addPostPopUp {
  position: absolute;
}